<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>La Bombonería - Temporada </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/custom.css">
    <link rel="icon" href="../images/brand/logo-blanco-sencillo.jpg">
</head>

<body>
    <div class="container-fluid">
        <!-- NAV SECTION -->
        <!-- Row to change language shown on large screens only -->
        <div class="row nav d-none d-lg-block">
            <div class="col">
                <ul class="nav justify-content-end">
                    <li class="nav-item">
                        <a class="nav-link" href="#">IT</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">FR</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">EN</a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- NavBar fixed at top on small device-->
        <div class="row ">
            <nav class="navbar navbar-expand-lg navbar-light p-3 fixed-sm-top" id="headerNav">
                <div class="container-fluid">

                    <a class="navbar-brand d-block d-lg-none" href="../../index.html">
                        <img src="../images/brand/logo-blanco-sencillo.jpg" height="50" />
                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNavDropdown">
                        <!-- Item con link "Home" solo se muestra en Menu de hamburguesa con toggle -->
                        <ul class="navbar-nav mx-auto">
                            <li class="nav-item d-lg-none px-4 align-self-center">
                                <a class="nav-link nav-link-pink mx-2" href="../../index.html">Home</a>
                            </li>
                            <!-- /item "Home" -->
                            <li class="nav-item px-4 align-self-center">
                                <a class="nav-link nav-link-pink mx-2" href="productos.html">Productos</a>
                            </li>
                            <li class="nav-item px-4 align-self-center">
                                <a class="nav-link nav-link-pink mx-2" href="historia.html">Historia</a>
                            </li>
                            <!-- Item logotipo solo se muestra en Navbar block -->
                            <li class="nav-item d-none d-lg-block px-4">
                                <a class="nav-link mx-2" aria-controls="page" href="../../index.html">
                                    <img src=" ../images/brand/logo-blanco.jpg" alt="Home" height="80" />
                                </a>
                            </li>
                            <!-- /Logotipo -->
                            <li class="nav-item px-4 align-self-center">
                                <a class="nav-link mx-2 nav-link-pink active" href="temporadas.html">Temporada</a>
                            </li>
                            <li class="nav-item px-4 align-self-center">
                                <a class="nav-link mx-2 nav-link-pink" href="../../index.html#contact">Contacto</a>
                            </li>

                        </ul>
                    </div>
                </div>
            </nav>
        </div>

        <!-- / NAV SECTION -->
        <!-- CONTENT SECTION -->
        <div class="container">
            <div class="row  m-3">
                <div class="col">
                    <div class="row top-gradient">
                        <div class="col-12">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb ">
                                    <li class="breadcrumb-item"><a href="../../index.html">Inicio</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Temporada</li>
                                </ol>
                            </nav>
                            <img src="../images/content/heart-choc.jpg" alt="Chocolates en forma de corazon"
                                class="img-fluid float-end image-views-reflect" style="max-height: 200px;">
                        </div>
                    </div>
                    <div class="row bottom-gradient">
                        <div class="col-12">
                            <h1 class="title-1-white title-views">Colección San Valentín 2024</h1>
                        </div>

                    </div>
                </div>
            </div>
            <div class="row m-1">
                <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
                    <div class="col">
                        <div class="card">
                            <img src="../images/products/gifts/gift-flower.jpg" class="card-img-top" alt="Imágen del producto Pureza del Corazón">
                            <div class="card-body">
                                <h5 class="card-title">Pureza del Corazón</h5>
                                <p class="card-text">En la Colección "Pureza del Corazón", la delicadeza y la pasión se
                                    entrelazan en cada bombón. Desde pralinés delicados hasta trufas de chocolate negro
                                    exquisito, cada pieza representa la pureza del amor verdadero. Presentado en una
                                    caja elegante, este conjunto es un regalo que expresa sentimientos sinceros.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <img src="../images/products/gifts/gift-round.jpg" class="card-img-top" alt="Imagen del producto Amor Noblis">
                            <div class="card-body">
                                <h5 class="card-title">Amor Nobilis</h5>
                                <p class="card-text">Esta exclusiva colección celebra el amor con elegancia y
                                    refinamiento. Cada bombón es una joya culinaria, desde trufas de champagne hasta
                                    pralinés de almendra, presentados con un toque noble. <br>La "Colección Amor
                                    Nobilis" es
                                    un regalo que combina sofisticación y afecto.<br> <i>Edición Limitada.</i></p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <img src="../images/products/gifts/gift-strawb.jpg" class="card-img-top" alt="Imagen del producto Esencia Apasionada">
                            <div class="card-body">
                                <h5 class="card-title">Esencia Apasionada</h5>
                                <p class="card-text">Sumérgete en la "Esencia Apasionada", una colección que despierta
                                    la pasión con cada bocado. Desde trufas de frutas exóticas hasta pralinés con toques
                                    especiados, cada bombón es una expresión apasionada del amor. Presentado en una
                                    colección que refleja la intensidad de las emociones, es un regalo pensado para
                                    disfrutar de momentos especiales.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <img src="../images/products/gifts/gift-black.jpg" class="card-img-top" alt="Imagen del producto Misterio del Romance">
                            <div class="card-body">
                                <h5 class="card-title">Misterio del Romance</h5>
                                <p class="card-text">La Caja "Misterio del Romance" encierra una selección intrigante de
                                    bombones con sabores sorprendentes y texturas cautivadoras. Cada pieza es un pequeño
                                    misterio que revela el lado más dulce del romance.<br> Una caja pensada para
                                    compartir
                                    secretos y momentos especiales.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <img src="../images/products/gifts/gift-pink.jpg" class="card-img-top" alt="Imagen del producto Encanto Sublime">
                            <div class="card-body">
                                <h5 class="card-title">Encanto Sublime</h5>
                                <p class="card-text">Este estuche, "Encanto Sublime", invita a una experiencia
                                    encantadora con una selección
                                    cuidada de bombones que deleitan los sentidos. Desde trufas cremosas hasta pralinés
                                    de avellana, cada pieza es un deleite sublime.<br> Presentado con un toque de encanto
                                    en
                                    un estuche refinado.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <img src="../images/products/gifts/gift-square.jpg" class="card-img-top" alt="Imagen del producto Armonía Duradera">
                            <div class="card-body">
                                <h5 class="card-title">Armonía Duradera</h5>
                                <p class="card-text">La Caja "Armonía Duradera" fusiona el amor con la atemporalidad de
                                    los sabores clásicos. Experimenta una armonía de bombones de chocolate con leche y
                                    oscuro, cada uno meticulosamente elaborado para crear una combinación que perdura en
                                    el tiempo. <br>Un regalo perfecto para celebrar el amor duradero.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- FOOTER WITH LOGO NAV AND SOCIAL MEDIA -->
        <div class="row nav">
            <div class="col align-items-center">
                <a class="mx-3 align-self-center" href="#">
                    <img src="../images/brand/logo-negro.jpg" height="80" />
                </a>
            </div>
            <div class="col align-self-center">
                <ul class="nav justify-content-end">
                    <li class="nav-item">
                        <a class="nav-link" href="https://www.meta.com/es/en/" target="_blank"><i
                                class="bi bi-meta"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://instagram.com" target="_blank"><i
                                class="bi bi-instagram"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="http://tiktok.com" target="_blank"><i class="bi bi-tiktok"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>




    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>

</html>