@import "../fonts/fonts.css";

/* Images */
img {
    border-radius: 2px;
}

.carousel-item-image {
    filter: grayscale(90%)brightness(50%);
    -webkit-box-reflect: right -460px linear-gradient(to bottom, rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.4));
}

.image-views {
    position: relative;
    margin: 25px 100px;
    -webkit-box-reflect: right -80px linear-gradient(to bottom, rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.4));
}

/* Product Cards with Masonry  */
.grid-item {
    width: 200px;
    padding: 3px;
    margin: 4px;
}

.grid-item--width2 {
    width: 200px;
    padding: 5px;
    margin: 2px;
}

/* Background Image Divs */
.div-1 {

    background-image: url("../images/content/chocolate-dark-200.jpg");
    background-repeat: no-repeat;
    /* Do not repeat the image */
    background-size: cover;
    height: 250px;
    border-radius: 2px;
}

.div-2 {
    background-image: url("../images/content/chocolate-jar.jpg");
    background-color: #cccccc;
    background-repeat: no-repeat;
    /* Do not repeat the image */
    background-size: cover;
    height: 250px;
    /* You must set a specified height */
    border-radius: 2px;
}

/* Border radius 2px */
.br-2 {
    border-radius: 2px;
}

/* Fonts and Texts */
* p {
    font-family: 'Libre Caslon Text', serif;
}

.title-1 {
    font-family: 'Mukta Vaani', sans-serif;
    font-weight: 800;
    color: #f76b8A;
    text-align: center;
}

.title-2 {
    color: #fa9bb0;
    font-family: 'Libre Caslon Text', serif;
}

.title-1-white {
    font-family: 'Mukta Vaani', sans-serif;
    font-weight: 800;
    color: #fcfcfc;
    text-align: center;
}

.title-2-white {
    color: #fcfcfc;
    font-family: 'Libre Caslon Text', serif;
    font-size: 25px;
}

.title-views {
    text-align: left;
    margin-top: -25px;
}

.breadcrumb a {
    color: #fcfcfc;
}

.breadcrumb .active {
    color: whitesmoke;
}

/* Links and buttons */
.bi {
    color: #fcfcfc;
    font-size: 30px;
}

.nav .nav-link {
    color: #fcfcfc;
}

.nav .nav-link:hover {
    color: #f76b8A;
    background-color: #fa9bb0;
    border-radius: 2px;
}

.navbar-nav .nav-link-pink:hover {

    color: #fcfcfc;
    background-color: #fa9bb0;
    border-radius: 2px;
}

.btn {
    background-color: #f76b8A;
    color: #fcfcfc;
    border: none;
    text-transform:uppercase;
}

.btn:visited {
    background-color: #f76b8A;
    color: #fdcdd7;
    border: none;
}

.btn:hover {
    background-color: #f76b8A;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.616) 0 8px 15px;
    transform: translateY(1px);
}

/* this isn't working */
.btn:active {
    background-color: #f76b8A;
    color: #fdcdd7;
    border: 1px solid black;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
}

.navlink:hover {
    color: pink;

}

.nav {
    background-color: #111;
}

/* Colored divs */
div.top-gradient {
    background: rgb(247, 139, 168);
    background: linear-gradient(90deg, rgba(247, 139, 168, 1) 0%, rgb(243, 229, 232) 100%);
}

div.bottom-gradient {
    background: rgb(247, 107, 138);
    background: linear-gradient(90deg, rgba(247, 107, 138, 1) 0%, rgb(250, 177, 193) 100%);
}